@{
  Layout = "_Layout";
}

<h1>Recipe Box Main Page</h1>
<p>@Html.ActionLink("Recipes", "Index", "Recipes")</p> 
<p>@Html.ActionLink("Tags", "Index", "Tags")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
