@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h4>Add a new tag</h4>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TagCategories)
  @Html.TextBoxFor(model => model.TagCategories)

  <input type="submit" value="Add new tag" class="btn btn-secondary" />
}
<p>@Html.ActionLink("Back to tags page", "Index")</p>